*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body{
    background-color: #e3e3e3;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .central button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

/* Header */

header{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 110px;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px
}

header .menu-desktop nav ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button{
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .central button:hover{
    background-color: white;
    color: black;
}

/* Central */

section.central{
    height: 98vh;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.central .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.central .txt-central h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.central .txt-central h1 span{
    display: block;
    font-weight: 800;
}

.central .txt-central p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.central .txt-central p span{
    display: block;
    font-weight: 800;
}

.central button{
    width: 220px;
    height: 60px;
    font-size: 17px;
}

/* Velas */

section.velas{
    padding: 80px 0;
}

.velas .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.velas .itens-container .img-itens img{
    max-width: 500px;     
}

.velas .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.itens-container .txt-itens h3 span{
    font-weight: 300;
}

/* Contatos */

section.contatos{
    background-color: #fff;
    padding: 80px 0;
}

.text-contato, .icone-contato{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contatos .text-contato h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contatos .text-contato h3 span{
    display: block;
    font-weight: 700;
}

.contatos .icone-contato a {
    text-decoration: none;
}

.contatos .icone-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contatos .icone-contato button i{
    font-size: 20px;
}
.contatos .icone-contato button:hover{
    background-color: #000;
}
.contatos .icone-contato button:hover i, .contatos .icone-contato button:hover p{
    color: #fff;
}