*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body{
    background-color: #e3e3e3;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

header .btn-contato button, .central button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

header{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.8);
    min-width: 900px
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 110px;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px
}

header .menu-desktop nav ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button{
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .central button:hover{
    background-color: white;
    color: black;
}

section.central{
    height: 98vh;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    min-width: 900px;
}

.central .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.central .txt-central h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.central .txt-central h1 span{
    display: block;
    font-weight: 800;
}

.central .txt-central p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.central .txt-central p span{
    display: block;
    font-weight: 800;
}

.central button{
    width: 220px;
    height: 60px;
    font-size: 17px;
}

section.velas{
    padding: 80px 0;
}

.velas .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.velas .itens-container .img-itens img{
    max-width: 500px;     
}

.velas .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.itens-container .txt-itens h3 span{
    font-weight: 300;
}


section.contatos{
    background-color: #fff;
    padding: 80px 0;
    min-width: 900px;
}

.text-contato, .icone-contato{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contatos .text-contato h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contatos .text-contato h3 span{
    display: block;
    font-weight: 700;
}

.contatos .icone-contato a {
    text-decoration: none;
}

.contatos .icone-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contatos .icone-contato button i{
    font-size: 20px;
}
.contatos .icone-contato button:hover{
    background-color: #000;
}
.contatos .icone-contato button:hover i, .contatos .icone-contato button:hover p{
    color: #fff;
}

@media screen and (max-width: 900px) {
    .interface {
        padding: 0 10px;
    }

    header {
        min-width: auto;
        padding: 10px 0;
    }

    header .interface {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    header .menu-desktop {
        display: none;
    }

    header .btn-contato {
        margin-top: 10px;
    }

    section.central {
        min-width: auto;
        height: auto;
        padding: 180px 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); 
        background-blend-mode: darken;
    }

    .central .interface {
        flex-direction: column;
        justify-content: center;
    }

    .central .txt-central h1 {
        font-size: 2.5em;
        line-height: 50px;
    }

    .central .txt-central p {
        font-size: 16px;
    }

    .central button {
        width: 180px;
        height: 50px;
        font-size: 15px;
    }

    .velas .itens-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .velas .itens-container .img-itens img {
        max-width: 100%;
    }

    .velas .itens-container .txt-itens h3 {
        font-size: 2em;
        line-height: 40px;
    }

    .velas .interface article:nth-child(n+2) h3,
    .velas .interface article:nth-child(n+2) p {
        display: none;
    }

    section.contatos {
        min-width: auto;
    }

    .text-contato, .icone-contato {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .text-contato p {
        margin-bottom: 20px;
    }

    .contatos .icone-contato button {
        width: 90%;
        font-size: 14px;
        padding: 0 20px;
        height: 50px;
    }

    .contatos .icone-contato button i {
        font-size: 18px;
    }

    .contatos .text-contato h3 {
        font-size: 2em;
        line-height: 40px;
    }
}

